<!DOCTYPE html>
<html>
<head>
    <title>Stock Prediction</title>
</head>
<script>
    const base="http://192.168.161.155:8080/logres_op/residuals/";
    const perf_base="http://192.168.161.155:8080/logres_op/plots/"
    const name="{{stock_name}}";
    const imgurl=base+name+"train.png";
    const imgurl1=base+name+"test.png";
    const prefimg=perf_base+"Train"+name+".png";
    const prefimg1=perf_base+"Test"+name+".png";
    console.log(imgurl);
    console.log(imgurl1);
    console.log(prefimg);
    console.log(prefimg1);
    const img = document.createElement("img");
    const img1=document.createElement("img");
    const pimg=document.createElement("img");
    const pimg1=document.createElement("img");
    img.src = imgurl;
    img1.src=imgurl1;
    pimg.src=prefimg;
    pimg1.src=prefimg1;
    document.addEventListener("DOMContentLoaded", function() {
        const imageContainer = document.getElementById("imageContainer");
        imageContainer.appendChild(img);
        const imageContainer1 = document.getElementById("imageContainer1");
        imageContainer1.appendChild(img1);
        const per=document.getElementById("perfTrain");
        per.appendChild(pimg);
        const per1=document.getElementById("perfTest");
        per1.appendChild(pimg1);
});


</script>
<body>
    <h1>Stock Prediction</h1>
    <h2>Stock: {{ stock_name }}</h2>
    <!-- <h3>Current Value: {{ value }}</h3> -->
    <h3>Data:</h3>
    {{ data|safe }}
    <h3>Prediction Plot:</h3>
    <img src="http://192.168.161.155:8080/logres_op/temp_img/image.png" alt="Prediction Plot">
    <h1>Model performance</h1>
    <h2>On the train dataset</h2>
    <div id="perfTrain"></div>
    <h2>On the test dataset</h2>
    <div id="perfTest"></div>
    <h1>Model residuals</h1>
    <div id="imageContainer"></div>
    <div id="imageContainer1"></div>
</body>
</html>
